@import url("https://fonts.googleapis.com/css2?family=Jua&Noto+Sans+KR&display=swap");

#wrap {
  color: white;
  background-color: black !important;
  max-width: 500px;
  min-height: auto;
  height: 100%;
  font-family: "Jua", sans-serif;
  margin: auto;
  position: relative;
}

#main {
  display: block;
  text-align: center;
}

#number {
  text-align: end;
}

#back {
  cursor: pointer;
  text-align: start;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

#test {
  text-align: center;
  display: none;
}

#result_img {
  width: 80%;
}

#result {
  display: none;
  text-align: center;
}

#warning_message {
  color: red;
}

#count {
  color: yellow;
}

#highlight {
  color: red;
}

.btn {
  font-size: 18px;
}

#share_btn {
  background-color: #f7e600;
  color: #3a1d1d;
}

#score {
  background-image: url(/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  color: white;
  font-size: 4.3em;
}

#s-result {
  padding: 20px;
  background-color: white;
  color: black;
}

.footer_logo {
  width: 12%;
}

@media (max-width: 500px) {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 389px) {
  html,
  body {
    height: 115%;
    margin: 0;
    padding: 0;
  }
}
